--no-private
--markup markdown
--markup-provider redcarpet
--title "Attio Ruby SDK Documentation"
--output-dir doc
--readme README.md
--files CHANGELOG.md,CONTRIBUTING.md,SECURITY.md
lib/**/*.rb
examples/**/*.rb